<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fst-italic">This is dummy text for paragraph This is dummy text for paragraph 
                This is dummy text for paragraph This is dummy text for paragraph</p>
        </div>
    </div>
</div>

<!-- Edit Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="updateContact()">
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name" 
                    [(ngModel)]="contact.name" [value]="contact.name" name="name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo Url" 
                    [(ngModel)]="contact.photo" [value]="contact.photo" name="photo">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email" 
                    [(ngModel)]="contact.email" [value]="contact.email" name="email">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile" 
                    [(ngModel)]="contact.mobile" [value]="contact.mobile" name="mobile">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company" 
                    [(ngModel)]="contact.company" [value]="contact.company" name="company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title" 
                    [(ngModel)]="contact.title" [value]="contact.title" name="title">
                </div>
                <div class="mb-2">
                    <select class="form-control" [(ngModel)]="contact.groupId" [value]="contact.groupId" name="groupId">
                        <option value="">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Update" >
                    <a class="btn btn-dark ms-2" routerLink="/">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img class="contact-img" alt="" [src]="contact.photo">
        </div>
    </div>
</div>